section.section-box.box-how-it-work.background-body
    .container
        .text-center.wow.fadeInUp
            h2.neutral-1000 How It Work?
            p.text-xl-medium.neutral-500 Competitive fares for your route-specific searches.

        .row.mt-60.align-items-center 
            .col-lg-6.wow.fadeInUp
                .box-image-how
                    .image-top-how 
                        img(src="assets/imgs/page/homepage4/img-how.png", alt="TRavila")
                    .image-bottom-how 
                        img(src="assets/imgs/page/homepage4/img-how2.png", alt="TRavila")
                        img(src="assets/imgs/page/homepage4/img-how3.png", alt="TRavila")
                        .shape 
                            img.light-mode(src="assets/imgs/page/homepage4/wave.png", alt="TRavila")
                            img.dark-mode(src="assets/imgs/page/homepage4/wave-dark.png", alt="TRavila")
            .col-lg-6
                -
                    const itemWhyLists = [
                        {
                            index: "1",
                            image: "assets/imgs/page/homepage2/security.svg",
                            title: 'Find Your Destination',
                            desc: 'Choose your destination based on weather, activities, and budget. Check travel advisories, visa requirements, and safety concerns.',
                            link: '#'

                        },
                        {
                            index: "2",
                            image: "assets/imgs/page/homepage2/support.svg",
                            title: 'Book a Ticket',
                            desc: 'Choose reputable platforms or book directly. Read reviews and understand cancellation policies.',
                            link: '#'
                        },
                        {
                            index: "3",
                            image: "assets/imgs/page/homepage2/policy.svg",
                            title: 'Pay and Go',
                            desc: 'Ensure secure transactions.  Save and print confirmation emails. Consider travel insurance for unforeseen events.',
                            link: '#'
                        }
                    ]
                each item in itemWhyLists
                    if item.index == "1"
                        .card-why-travel.card-why-travel-2.background-1.wow.fadeInUp
                            .card-image 
                                img(src= item.image, alt="Travila")
                            .card-info 
                                a.text-xl-bold.card-title(href= item.link)= item.title
                                p.text-sm-medium.neutral-500.card-desc= item.desc
                                a.text-sm-medium.card-link(href= item.link) Learn More 
                                    svg(width='11', height='10', viewbox='0 0 11 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M5.50011 9.08347L9.58347 5.00011L5.50011 0.916748M9.58347 5.00011L1.41675 5.00011', stroke='', stroke-linecap='round', stroke-linejoin='round')
                    else if item.index == "2"
                        .card-why-travel.card-why-travel-2.background-2.wow.fadeInUp 
                            .card-image 
                                img(src= item.image, alt="Travila")
                            .card-info 
                                a.text-xl-bold.card-title(href= item.link)= item.title
                                p.text-sm-medium.neutral-500.card-desc= item.desc
                                a.text-sm-medium.card-link(href= item.link) Learn More 
                                    svg(width='11', height='10', viewbox='0 0 11 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M5.50011 9.08347L9.58347 5.00011L5.50011 0.916748M9.58347 5.00011L1.41675 5.00011', stroke='', stroke-linecap='round', stroke-linejoin='round')
                    else if item.index == "3"
                        .card-why-travel.card-why-travel-2.background-3.wow.fadeInUp 
                            .card-image 
                                img(src= item.image, alt="Travila")
                            .card-info 
                                a.text-xl-bold.card-title(href= item.link)= item.title
                                p.text-sm-medium.neutral-500.card-desc= item.desc
                                a.text-sm-medium.card-link(href= item.link) Learn More 
                                    svg(width='11', height='10', viewbox='0 0 11 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M5.50011 9.08347L9.58347 5.00011L5.50011 0.916748M9.58347 5.00011L1.41675 5.00011', stroke='', stroke-linecap='round', stroke-linejoin='round')