mixin cardstyle1(img='assets/imgs/page/dashboard/computer.svg', number='1568', updown='25%', description='Interview Schedules')
    .card-style-1.hover-up
        .card-image 
            span
                img(src= img, alt='Travilla')
        .card-info 
            .card-title
                h3.text-xl-bold.neutral-1000
                    span.count= number
                    if block 
                        block
                    else 
                        span.text-sm-medium.neutral-500.status.up= updown
            p.text-sm-medium.neutral-500= description
mixin cardstyle3(img='assets/imgs/page/dashboard/img1.png', title='Robert Fox', department='UI/UX Designer', location='Chicago, US', email='mthurn@optonline.net')
    .card-style-3.row        
        .card-image.col-5
            .card-image-inner.online
                img(src= img, alt='Travilla')
            .card-title 
                h6.text-sm-bold.neutral-1000= title
                span.text-xs-medium.neutral-500.job-position= department
        .card-phone.col-3 
            a.text-xs-medium.phone(href="#")= location
        .card-email.col-4 
            a.email(href="#")= email
mixin cardstyle5(title='Developer', number='2635')
    .card-style-5
        .card-title 
            h6.text-md-medium.neutral-1000= title
        .card-progress 
            .number.text-md-medium.neutral-1000= number
            .progress
                if block 
                    block
                else
                    .progress-bar(style='width: 50%')